*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache

.vs
packages
TestResults
_Resharper.*
NuGetRelease

MumbleClient/bin
MumbleClient/obj
MumbleGuiClient/bin
MumbleGuiClient/obj
MumbleSharp/bin
MumbleSharp/obj
MumbleSharpTest/bin
MumbleSharpTest/obj
