*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.ncrunchproject

TestResults
MumbleClient/bin
MumbleClient/obj
MumbleGuiClient/bin
MumbleGuiClient/obj
MumbleSharp/bin
MumbleSharp/obj
MumbleSharpTest/bin
MumbleSharpTest/obj

_Resharper.*
/*.ncrunchsolution
