*.suo
*.user
*.cachefile
*.xnb
*.sln.docstates
*.cache
*.ncrunchproject
*.ncrunchsolution

.vs
packages
TestResults
_Resharper.*

MumbleClient/bin
MumbleClient/obj
MumbleGuiClient/bin
MumbleGuiClient/obj
MumbleSharp/bin
MumbleSharp/obj
MumbleSharpTest/bin
MumbleSharpTest/obj
